{% extends 'base.html' %}

{% block title %}Про мене{% endblock %}

{% block content %}
    <h1>Про мене</h1>
    <ul>
        <li>Навчаюсь на 3 курсі.</li>
        <li>Займаюся захоплюючою роботою в сфері маркетингу та креативу.</li>
        <li> Мої професійні інтереси включають розробку креативних кампаній, аналіз трендів у цифровому маркетингу та взаємодію з аудиторією через соціальні мережі.</li>
        <li>У вільний час люблю фотографувати та експериментувати з графічним дизайном.</li>
    </ul>
{% endblock %}
