{% extends 'base.html' %}
{% from 'render_field.html' import render_field %}

{% block title %}Account{% endblock %}

{% block content %}
    <h1>Дані користувача</h1>
    <img class="user_images" src="{{ url_for('static', filename='images/' + current_user.image_file) }}"
         alt="User Photo">
    <p>{{ current_user.username }}</p>
    <p>{{ current_user.email }}</p>
    <p>Last seen: {{ current_user.last_seen }}</p>
    <p>About me: {{ current_user.about_me }}</p>
    <p>Час зараз: {{ data.time_now }}</p>
    <a href="{{ url_for('logout') }}">Вийти</a>

    <form action="{{ url_for('change_password') }}" method="POST">
        {{ form.csrf_token }}

        {{ render_field(form.old_password) }}
        {{ render_field(form.new_password) }}
        {{ render_field(form.confirm_password) }}
        <input type="submit" value="Змінити пароль">
    </form>
    <form action="{{ url_for('change_login') }}" method="POST" enctype="multipart/form-data">
        {{ update_form.csrf_token }}

        {{ render_field(update_form.new_username) }}
        {{ render_field(update_form.new_email) }}
        {{ render_field(update_form.about_me) }}
        {{ render_field(update_form.profile_picture) }}
        <input type="submit" value="Підтвердити зміни">
    </form>
{% endblock %}