<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ url_for('master.home') }}">My Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('master.home') }}">Моє портфоліо</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('master.page2') }}">Про мене</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('master.page3') }}">Про проект</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('master.page4') }}">Мої навички</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('todo.todo') }}">ТОДО</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cookie.info') }}">Info</a>
            </li>
            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('authet.register') }}">Реєстація</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('authet.login') }}">Логін</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.users') }}">Профіль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.account') }}">Аккаунт</a>
            </li>

            <li class="nav-item">
               <a class="btn btn-primary" href="https://github.com/reankornation">GitHub</a>
            </li>
        </ul>
    </div>
</nav>

