<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ url_for('home') }}">Моє портфоліо</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Моє портфоліо</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('page2') }}">Про мене</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('page3') }}">Про проект</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('page4') }}">Мої навички</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('todo') }}">ТОДО</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" href="{{ url_for('feedback') }}">Leave Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Логін</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-primary" href="https://github.com/reankornation">GitHub</a>
            </li>
        </ul>
    </div>
</nav>