{% extends 'base.html' %}

{% block title %}Навички{% endblock %}

{% block content %}
    <h1>Мої навички</h1>
    <ul>
        <li>Програмування: Вмію користуватися Python та JavaScript.</li>
        <li>Аналіз даних: Маю досвід роботи з великими обсягами інформації та вмію використовувати інструменти для обробки даних.</li>
        <li>Веб-розробка: Знаю HTML і CSS для створення простих веб-сайтів.</li>
        <li>Комунікація: Маю високі навички у взаємодії з командою та клієнтами, ефективно передаю ідеї та вислуховую думки інших.</li>
        <li>Рішення проблем: Здатний швидко визначати та вирішувати проблеми, використовуючи творчий підхід та логічне мислення.</li>
    </ul>
{% endblock %}
